* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    background: hsl(257, 40%, 49%) url(images/bg-mobile.svg) no-repeat;
    color: white;
    margin: 0 auto;
}
header, main, footer {
    padding: 35px;
}
main, footer {
    text-align: center;
}
.huddle-logo {
    width: 130px;
}
.mockup-img {
    max-width: 100%;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    margin: 20px 0;
}
main p {
    margin-bottom: 25px;
}
button {
    font-family: 'Open Sans', sans-serif;
    color:  hsl(257, 40%, 49%);
    padding:  10px 70px;
    background-color: white;
    border-radius: 20px;
    border: none;
    box-shadow: 0 8px 8px -8px black;
    transition: all 0.25s;
}
button:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
}
.fab {
    color: white;
    margin: 5px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 7px 9px;
}
.fab:hover {
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}
.attribution {
    font-size: 12px;
    margin-top: 40px;
}